.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.heading{
    margin-bottom: 20px;
}
.sidebar {
  width: 150px;
  padding: 10px;
  background: #01d9ff;
  border-right: 1px solid #ccc;
}

.sidebar-node {
  background: rgb(224, 20, 20);
  border: 1px solid #999;
  padding: 8px;
  color: white;
  margin-bottom: 10px;
  cursor: grab;
  text-align: center;
}

.canvas {
  flex: 1;
  height: 100vh;
}
.context-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}